files:
  /etc/pki/tls/certs/server.crt:
    mode: '000400'
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEvjCCAqYCCQDbk7KhbrngHjANBgkqhkiG9w0BAQsFADAhMR8wHQYDVQQDDBYq
      LmVsYXN0aWNiZWFuc3RhbGsuY29tMB4XDTIxMDYwMzE5NDQyN1oXDTIyMDYwMzE5
      NDQyN1owITEfMB0GA1UEAwwWKi5lbGFzdGljYmVhbnN0YWxrLmNvbTCCAiIwDQYJ
      KoZIhvcNAQEBBQADggIPADCCAgoCggIBAMVIGNGJc93sCKe5A0bb6Xe8kJ+TFAgc
      6uGAEVkj/KOG9Lx3ZwDZBdne8KQy7VxBs/Zg1N68YdMV2eNsfBX+M/LgYZQxLxTL
      eB5ZYwiAKtzzBQILcByiTBMhqVmdYy48z3yVWCSMF4IFNvi8CcchZGnzodhQKN+/
      bSDxBAXlU4CZLIPZw4JpLUxcAtQIUp4qICW6qq9cd6lgrrN9vt2rf6t+Ch1UgxH3
      XkZqix9kojfmlnRMMn5RGPN+LP857UDVcNV45NVlFRo4PHeyrDEUB77dxPqCqiUo
      1LMRMG0daeotbAd8UuU5eOX7SkexWXOSjBXPlGES1uL0VNphhfc+Nly7klg7VzxX
      apA8Sws6hwDoGICRBI5ljhDDPTR77dHMuvUWU2UJvwCwesJMEtMtTpdGj8litMmu
      M1V9CtB7meKHUG9tN0Ho9PWSePVzjpNw5rs49Qqxcy7fXuViPTD8QG6m2NAlWshc
      L8fHk6XjyUR18+is8A4ySQ8lPUULuoiNi7W43FWEEw3KONl6iK75dMi+YXoVgmaA
      ep6GHh0YRna3S5QYGVOw4AHcU+XJBE7nP4KBAVEaa4P0wHwVb6ohJxNAeLsKQri0
      Lh3T4QIEAkYIxwXL26Fd2EOru1f+C8D+OqUkRvk15tIHZ0Lqft/rqiVrI8il+BJ9
      XErXg29PmiRvAgMBAAEwDQYJKoZIhvcNAQELBQADggIBABbFqtpNjjpnJARsv7cQ
      ovdACjqpPwFzBNwfK3vahfFjiHkkmDTMdgU4A6V0ivXqWdoqIOOrbSakSr1AucAF
      bZMuWAFJXlvIvFAz+KMCYXGn5r8XvSXBy1GwyqoI8vykmBaeA48qkxOOasWR5cI1
      L9vBlKC33KdLSqMfmsIfif0a+Biw1hFlarIK8G781btc+A1KHCKyzNHp94PqXEfn
      WMtB7aItOj/6IGfATU9HqIymEhwruXBwD+JhDrIkBSHIjw/3yA0zT9copQXSIuO8
      Vcpr9ME6X8OYq3w9UilXSf3GmHzRUdZJAPcSTBeC7nU9SY+GzHMSoKLdxlcY8QHJ
      SV2rJpds+xqGB6h/IQaiEFSQ+o4LVV48rNLswQL/b3kiCILzwEZqfBq8hOT8JMKH
      m3dDLNp0geNlhsPruTIN1tjCN4L0fOoNcvPe9NZBq8qQkU8zROChwEo1+aRxRqE9
      R3jqCdGsEGqkygMQajt6dwkEcMPeGo+BMsOrmqY8jZWoLq5W297kxw76dweWrKn/
      3Zba+BQTdUnuvNxN/tek3KP7A8F9pof3XV034fL5+atU9G+p8seeYP2+dgY0Z6uz
      nPuNokoAv3AKL86fBwq+v/HSKKY93tGZiRhZHdW626IyCDzjzAkXxZ7UDugwnFtu
      vQ7fcXShsK+dsJbe15Tn2a93
      -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key:
    mode: '000400'
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
        MIIJKgIBAAKCAgEAxUgY0Ylz3ewIp7kDRtvpd7yQn5MUCBzq4YARWSP8o4b0vHdn
        ANkF2d7wpDLtXEGz9mDU3rxh0xXZ42x8Ff4z8uBhlDEvFMt4HlljCIAq3PMFAgtw
        HKJMEyGpWZ1jLjzPfJVYJIwXggU2+LwJxyFkafOh2FAo379tIPEEBeVTgJksg9nD
        gmktTFwC1AhSniogJbqqr1x3qWCus32+3at/q34KHVSDEfdeRmqLH2SiN+aWdEwy
        flEY834s/zntQNVw1Xjk1WUVGjg8d7KsMRQHvt3E+oKqJSjUsxEwbR1p6i1sB3xS
        5Tl45ftKR7FZc5KMFc+UYRLW4vRU2mGF9z42XLuSWDtXPFdqkDxLCzqHAOgYgJEE
        jmWOEMM9NHvt0cy69RZTZQm/ALB6wkwS0y1Ol0aPyWK0ya4zVX0K0HuZ4odQb203
        Qej09ZJ49XOOk3Dmuzj1CrFzLt9e5WI9MPxAbqbY0CVayFwvx8eTpePJRHXz6Kzw
        DjJJDyU9RQu6iI2LtbjcVYQTDco42XqIrvl0yL5hehWCZoB6noYeHRhGdrdLlBgZ
        U7DgAdxT5ckETuc/goEBURprg/TAfBVvqiEnE0B4uwpCuLQuHdPhAgQCRgjHBcvb
        oV3YQ6u7V/4LwP46pSRG+TXm0gdnQup+3+uqJWsjyKX4En1cSteDb0+aJG8CAwEA
        AQKCAgAXEUINpiPNLB8q9WAjte0LmhnS/tCVzkPMkDv3D1UoDcyqCNAbckTT39SF
        bosAgZI4WcQqMx7BHsn2ZKXxsGKEoKXoPQQDS3NFITCKOupIIYZRYeL/Bh8dEY+K
        sfN54ZRlPdUrmNHa2x89YEdIaGgkV19yOpU87FYnRucwhUsJO1/QHvNUWVX5mryd
        7Ec0xTozDyuMC6TWQj7LMAXUR4xLEha+rTYSMLluRGD2D79ECAtJl+tDh9oCBpve
        T/ik3xAtddBT/1jDUxYG7PZjWrM5Jxc0L3kTlT2hnn3qFElhH2SFT40lzl2LjqF1
        1o/eCqGknzv7Sceki+ssCcEvUq/qXTwBB9D0g2way5MPpDXp4Or3iGgZ071j2aQ+
        UWH7A2P0QEKY6cIhf5fTU4byxY8ah4j7XhFzF+RPeGqZ+bTtzOeMWcZIk0USlASS
        oXGNqn2Cu1u9s1/81Ta2KKU5G07oj6WuFxx1NC+SuBoaX3MdAq9F8SLYKzgOx3pR
        T27o5nGR1hUy2ZoOnOot+/P5ljyGWw5sjUpW0z8xRpeLi8rOZL66rquBNEoHAFWn
        B2stgi7qurGytWGk9iFaNv6O3Ed4+UAG5GxRema5XnhxWSiT3PJTDFGHHJR5Aw4R
        AHQNjX0GxP/2qFRh1eSRJiiW7yL/zAUgYYR/xdK0QxMQiseAqQKCAQEA8FQ6gOnx
        8DXaSDaNQzaUbqqKuGc2gt/6hUC16KzWvHoe6IHw2OiuV6sp6REH8t9cggAgoDsI
        Xd8bIG8eLF9oHnfNF61P94iSrm3Lv9E6XAmhqzwZjAs7UFH1ugFrOkR09NihA1YF
        S/LVziNTNVjsl+YrQPHrzcaQTCxk1Q/OCjOn4mCDEr1wNOT9Ku6YG9foB7NSUdp0
        MhncR781OxSM26cb+tfg4Y4Efd16Lm1wTnZOhcxBR4MyrtiLWHPBbPSaVIWbhuuM
        jbcb/2NsqQ7RDDRbQl4dTpRONN86w/UX5bsIDCKCChhVkvnDxaI1S/bhEfkxGs4n
        OOMkSnq7LfS8uwKCAQEA0iVJIVrwZC24q47BaAMEHZkbhF+qaCKGY6ql3+nf7KRm
        /g0DZVoa1U8dEZWT44vbTUe0BCkSNv4oobEqEHWXlGXOBSPGIKxMrAO5jaYxbPPo
        2aQxr2N3xzCi14aDSvyuaP9srRMmZSq1QDOKDV24Uir72Kx6DRvVwXomNcp83WTw
        njmCxeQwz2V4N+JUy7PotkDcGzhcwW6a9sBiMLOPm0M00ZT4i8viGLhBAdgmV/Ys
        E6WqEAfxVbsHizb6WS9Bvfsz8XovxIIKCq73JtaPF/XrW+/ayAWIxdT/HA21CZRZ
        2DW3EcfuzHnSkjZ2UTIENKefPTqDQoUKbevAmPm13QKCAQEAzLmzrKWdp9b4P5PY
        +mzAPRWiXjvuP8a1DlZ1n+O8eYo+Uip/FQgBnET+yr/rWYXUtBmPsW8YTX8FCLgf
        qAUOGQZM++JzwJXi/hwh+SEu6cB6q/fie14GBQIMpYsX4Ob4CquPXdwlXvFaGOQW
        udcqlKtKJWTwTrbbrUgUDTwNdLtURI+amJgvwZ9f2vatNOrTidvEQF4rpZJKCARm
        QBHdfC/6sdC8jOgCA4Zr0qj/hpdZhLje0yB8SF3HNm5FU5966I14U5LMhNx7SS9V
        HR62DgN7yimKJapIhNm0ocFjvht5W3z58ceQ/kct8mmfpTqFuF3i6sa6uscj3x51
        3UwiiQKCAQEAy4vv/M3v4Kjkoc+hiFS7jMu7eomLLliaoTkud+c5zSYk2FjUfDw9
        l3WM63Zdi97wqTcVp538laWyx4MqAk1UaBn/5ryS8RzTGx50gT6Dy0ups/21XnPT
        Fe4HHQmebGi5qtwVcMMGwqEOdMQ3KOEpYvVdga72fXIDpubg0eNy9KML6cY84982
        Y/yd6Eti5Pg7JSVHzVnXhkjS8sS/lvql07bSF1rbL9VpB5aY6OdrpHG+mb0yL1ry
        KJ8DHJZBAVejrxf9ZR173TQz88sre8QBUC0ULrXxzSKHK1A3Vf305/V43NKSozds
        F0S8cIEuM1Fl/3aI6C6f6zOgOX5LzCC7RQKCAQEAhenlQ5GzDSMwxTYd6oLY7OfZ
        E+ClJSdoSAnt9yDOQ2KpPvDB3eqPZ8W+cu40+zdi10IKEUrTmzBuPKbLpxIJDPQW
        L+Ga3DshewIFjDE1jIjiTs5geiAZcwid0sa2h0t/AHdbBpboezl8XyC/Jki7Qtt4
        MvPMWVDVmGB9JuWHDddBC77fMkzrYflyIlh2LAZ88XBecljV7ppMM1A4n68qP0NW
        frtKbiWqutroXd7Q+0Dj6eDnYlVLaCFN48bIQ+pW3WkdYszPEv3gzbAy0V1OurnA
        l5Q+EQhFkcp+BakllvZV0hUXeVf8tfr3vnpkSnGKj6ROdmrtNMn1eQ+Y5Fi3Nw==
      -----END RSA PRIVATE KEY-----

